@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, html {
  overflow-x: hidden !important;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}